
h1 {
		text-align: center;
		color: black;
}

body {
 background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 

}

div.a {line-height: 50px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}



