
h1 {
		text-align: center;
		color: black;
}

body {
	background: rgb(238,174,202);
	background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
	font-family: Arial,Helvertica, sans-serif;
	color: red;
	border-radius: 50%;
}

div.a {
	line-height: 50px;
}

label {
	border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}


.border {
	border-color: purple;
	border-width: 10px;
  border-style: solid;

}

